.info__wrapper {
}
.info .item {
  background-color: var(--third-brand-color);
  padding: 3rem;
}
@media screen and (min-width: 1024px) {
  .info .list {
   display: flex;
   justify-content: center;
   text-align: left;
  }
  .info .img {
    height: 40rem;
    object-fit: cover;
  }
  .info .item {
    width: 25%;
    text-align: center;
  }
}
